<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325411802335-ql35npu5aasb9ea9d56e9pbj8nepd4lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325411802335-ql35npu5aasb9ea9d56e9pbj8nepd4lv</string>
	<key>API_KEY</key>
	<string>AIzaSyBfC7dRoRxCxxeS6SxU2SyJQL1c9NWHa6w</string>
	<key>GCM_SENDER_ID</key>
	<string>325411802335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sthefanny.cyberunner</string>
	<key>PROJECT_ID</key>
	<string>cyberunner-nano</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberunner-nano.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:325411802335:ios:88ef4b94e168087ba82d6a</string>
</dict>
</plist>
